.chat-side
  .side-header
    .side-header__box
      .side-header__box__username
        yuki
        %ul.side-header__box__menu
          %li.side-header__box__edit-username
            = link_to "#" do
              = icon("fas" , "edit")
          %li.side-header__box__newgroup
            = link_to "#" do
              = icon("fas" , "cog")
  
  
  
  .groups-list{style: "padding:0 20px"}
    .group-list__name
      グループ名
      .group-list__coment
        コメント
  .groups-list{style: "padding:0 20px"}
    .group-list__name
      グループ名
      .group-list__coment
        コメント
  .groups-list{style: "padding:0 20px"}
    .group-list__name
      グループ名
      .group-list__coment
        コメント
